@import url("https://fonts.googleapis.com/css?family=Raleway:400,600italic,700,900,400italic,600|Merriweather:700,900");
*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.question-screen-1 {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  height: 100%;
  width: 100%;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group5 {
  height: 100%;
  position: relative;
  width: 100%;
}

.component-3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 198px;
  min-height: 492px;
  position: absolute;
  top: 272px;
  width: 356px;
}

.group-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-top: 2px;
  min-width: 483px;
}

.group-36 {
  align-items: flex-start;
  display: flex;
  margin-left:0px;
  min-width: 176px;
}

.icons8 {
  height: 28px;
  object-fit: cover;
  width: 28px;
}

.coins-100 {
  letter-spacing: 0;
  line-height: 25.9px;
  margin-left: 2px;
  min-height: 28px;
  white-space: nowrap;
}

.group-35 {
  align-items: flex-start;
  display: flex;
  min-width: 176px;
}

.co2-456 {
  letter-spacing: 0;
  line-height: 25.9px;
  margin-left: 2px;
  min-height: 28px;
  white-space: nowrap;
}

.overlap-group3 {
  height: 330px;
  margin-left: -8px;
  margin-top: 28px;
  position: relative;
  width: 330px;
  
}

.frame {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/632173ebbea0b51cbb564985/releases/6321742d75704aba0f90e43b/img/group-1@2x.svg);
  background-size: 100% 100%;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 83px;
  left: 84px;
  padding: 5.9px 42px;
  position: absolute;
  top: 110px;
  width: 146px;
}

.group-29-2 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-top: -7px;
  margin-right: -25px;
  min-width: 95px;
}

.number-6 {
  letter-spacing: 0;
  line-height: 36.2px;
  margin-left: 4px;
  min-height: 33px;
  white-space: nowrap;
}

.ios-glyph-container-1 {
  align-self: flex-end;
  height: 30px;
  position: relative;
  width: 28px;
}

.icons8-donate-ios-glyph-96-1 {
  border: 1px none;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.icons8-heating-ios-glyph-96-1 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 28px;
}

.group-28-2 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-top:15px;
  margin-left: 10px;
  height: 33px;
  min-width: 86px;
}

.number-5 {
  letter-spacing: 0;
  line-height: 36.2px;
  margin-left: 4px;
  min-height: 33px;
  white-space: nowrap;
  width: 52px;
}

.ellipse-3 {
  height: 258px;
  left: 23px;
  position: absolute;
  top: 20px;
  width: 252px;
}

.group-1 {
  height: 200px;
  left: 57px;
  position: absolute;
  top: 98px;
  width: 200px;
}

.overlap-group4 {
  height: 800px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.rectangle-19 {
  background-color: var(--white);
  border: 1px none;
  box-shadow: 0px 2px 8px 2px 
#00000040;
  height: 87px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.frame-57 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 159px;
  left: 54px;
  position: absolute;
  top: 100px;
  width: 1128px;
}

.global-temperatures {
  align-self: stretch;
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-raleway);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31.1px;
  margin-top: -1px;
}

.what-greener-alterna {
  align-self: stretch;
  color: var(--black);
  flex: 1;
  font-family: var(--font-family-merriweather);
  font-size: var(--font-size-xxl);
  font-weight: 900;
  letter-spacing: 0;
  line-height: 46.6px;
  width: 650px;
}

.frame-64 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 133px;
  left: 702px;
  position: absolute;
  top: 361px;
  width: 552px;
}

.group {
  height: 133px;
  min-width: 552px;
}

.overlap-group1 {
  height: 133px;
  position: relative;
  width: 552px;
}

.component-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  box-shadow: 4px 2px 8px 2px 
#0000001a;
  display: flex;
  height: 123px;
  justify-content: flex-end;
  left: 0;
  min-width: 552px;
  padding: 21px 70px;
  position: absolute;
  top: 0;
}

.group-30 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 21px;
  margin-top: 7px;
  min-height: 70px;
  width: 28px;
}

.group-28 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/632173ebbea0b51cbb564985/releases/6321742d75704aba0f90e43b/img/icons8-donate-ios-glyph-96-1-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 28px;
  width: 28px;
}

.ios-glyph-container {
  height: 30px;
  margin-top: 12px;
  position: relative;
  width: 28px;
}

.line-7 {
  align-self: flex-end;
  height: 90px;
  width: 1px;
}

.frame-60 {
  align-items: center;
  border: 1px none;
  display: flex;
  gap: 27px;
  justify-content: center;
  left: 23px;
  position: absolute;
  top: 22px;
  width: 500px;
}

.group-31 {
  height: 73px;
  min-width: 69px;
  position: relative;
}

.group-28-1 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  left: 32px;
  min-width: 39px;
  position: absolute;
  top: 0;
}

.number-1 {
  letter-spacing: 0;
  line-height: 36.2px;
  min-height: 33px;
  white-space: nowrap;
}

.group-29 {
  align-items: flex-end;
  display: flex;
  height: 33px;
  left: 0;
  min-width: 71px;
  position: absolute;
  top: 40px;
}

.number {
  letter-spacing: 0;
  line-height: 36.2px;
  margin-left: 4px;
  min-height: 33px;
  white-space: nowrap;
  width: 37px;
}

.icons8-donate-ios-glyph-96-1-1 {
  border: 1px none;
  height: 28px;
  width: 28px;
}

.replace-your-deisel {
  height: 88px;
  letter-spacing: 0;
  margin-top: -1px;
  width: 404px;
}

.phase-1-2022-30 {
  left: 56px;
  letter-spacing: 0;
  line-height: 25.9px;
  position: absolute;
  top: 60px;
  white-space: nowrap;
}

.frame-63 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 133px;
  left: 702px;
  position: absolute;
  top: 214px;
  width: 552px;
}

.frame-59 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  gap: 59px;
  left: 23px;
  position: absolute;
  top: 25px;
  width: 500px;
}

.frame-58 {
  align-items: center;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: fit-content;
}

.number-3 {
  height: 33px;
  letter-spacing: 0;
  line-height: 36.2px;
  margin-top: -1px;
  white-space: nowrap;
  width: 37px;
}

.number-4 {
  height: 33px;
  letter-spacing: 0;
  line-height: 36.2px;
  white-space: nowrap;
  width: 37px;
}

.group-34 {
  height: 100%;
  left: 845px;
  mix-blend-mode: luminosity;
  position: absolute;
  top: -200px;
  width:25%;
}

.frame-65 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 133px;
  left: 702px;
  position: absolute;
  top: 512px;
  width: 552px;
}

.frame-66 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 133px;
  left: 702px;
  position: absolute;
  top: 665px;
  width: 552px;
}
.frame-67 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 133px;
  left: 702px;
  position: absolute;
  top: 819px;
  width: 552px;
}


.group-container {
  height: 133px;
  position: relative;
  width: 554px;
}

.group-32 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 454px;
  min-height: 73px;
  position: absolute;
  top: 26px;
  width: 69px;
}

.number-2 {
  letter-spacing: 0;
  line-height: 36.2px;
  min-height: 33px;
  white-space: nowrap;
  width: 37px;
}

.group-29-1 {
  align-items: flex-end;
  display: flex;
  height: 33px;
  margin-right: -2px;
  margin-top: 7px;
  min-width: 71px;
}

.overlap-group1-1 {
  height: 133px;
  left: 0;
  position: absolute;
  top: 0;
  width: 552px;
}

.continue-using-deisel-generators {
  left: 23px;
  letter-spacing: 0;
  position: absolute;
  top: 19px;
  width: 404px;
}

.line-10 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 136px;
  width: 100%;
}
/* Variables */

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --supernova: 
  rgba(253, 207, 10, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
  --font-size-s
  : 15px;
    --font-size-m
  : 19px;
    --font-size-l
  : 23px;
    --font-size-xl
  : 27px;
    --font-size-xxl
  : 31px;
  
    --font-family-merriweather: "Merriweather";
    --font-family-raleway: "Raleway";
  }
  
  /* Classes */
  
  .raleway-semi-bold-black-28px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-l);
    font-weight: 600;
    font-style: normal;
  }
  .raleway-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .raleway-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 600;
    font-style: italic;
  }
  .raleway-semi-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
  }
  .raleway-normal-black-20px {
    color: var(--black);
    font-family: var(--font-family-raleway);
    font-size: var(--font-size-s);
    font-weight: 400;
    font-style: normal;
  }
  