@import url("https://fonts.googleapis.com/css?family=Raleway:400,600italic,700,900,400italic,600|Merriweather:700,900");

body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
font-family: Raleway;
}
.div1{
position: absolute;
left: 10%;
top:10%;
}
.img1{
position: absolute;
width: 130px;
height:130px;
top: 145px;
}
.img2{
position: absolute;
width: 130px;
height: 130px;
top: 325px;
}
.head1{
position: absolute;
width: 364px;
height: 66px;
left: 159px;
top: 243px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 129.4%;
/* or 62px */


color: #000000;
}
.bt1{
position: absolute;
width: 675px;
height: 142px;
left: 120px;
top: 315px;
padding-left: 5%;

}
/* .bg2{
     position: absolute;
    opacity: 0.8;
    margin-left: 20%;
    width:100%;
    height: 100%;
    transform: rotateX(30deg);
} */
#group_51 {
	position: absolute;
	width: 100%;
	height: 100%;
	background:url('decide character screen bg.png');
	background-size:cover;
    opacity: 0.2;
}
.hh1{
    position: absolute;
    width: 672px;
    height: 46px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 129.4%;
    /* or 41px */
    
    
    color: #000000;

}
.pp1{
position: absolute;
width: 672px;
height: 88px;
top:40px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;

color: #000000;

    }

    .bt2{
        position: absolute;
        width: 675px;
        height: 142px;
        left: 120px;
        top: 135px;
        padding-left: 5%;
    }
    .hh2{
        position: absolute;
        width: 672px;
        height: 46px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 129.4%;
        /* or 41px */
        
        
        color: #000000;
    
    }
    .pp2{position: absolute;
        width: 672px;
        height: 88px;
        top: 40px;
        
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 26px;
        
        color: #000000;
        }
        .head2{
position: absolute;
width: 319px;
height: 31px;
top: 46px;
font-family: 'Raleway';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 129.4%;
color: #000000;
        }

        